.admin-layout {
  display: flex;
  margin-top: 10vh;
}

.aside {
  width: 300px;
  margin-right: 50px;

  nav {
    ul {
      li {
        padding: 20px 10px;

        a {
          color: #777e90;
          padding: 20px 10px;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }
}

.activeLink {
  a {
    color: white !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  & > div {
    width: 100%;

    h1 {
      margin: 0;
    }
  }
}
